[submodule "readium-sdk"]
	path = readium-sdk
	url = https://github.com/readium/readium-sdk.git
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = https://github.com/readium/readium-shared-js.git
[submodule "SimpleHTTPServer"]
	path = SimpleHTTPServer
	url = https://github.com/readium/SimpleHTTPServer.git
[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose.git
